*{
    margin: 0;
    padding: 0;
}
.main {
    max-width: 1200px;
    margin: 0 auto;
}
.logo{
    width: 100%;
    border: 1px solid #cecece;
    padding: 10px 0;
    text-align: center;
    background: bisque;
}
.wrapper {
    display: flex;
}
.wrapper-menu {
    border: 1px solid #cecece;
    height: 100%;
    width: 260px;
    padding: 20px 40px;
}
.wrapper-sections{
    padding: 20px 40px;
    width: 100%;
}
.wrapper-menu ul{
    list-style: none;
}
.wrapper-menu ul li{
    margin-bottom: 10px;
}
.wrapper-menu ul li a{
    text-decoration: none;
    font-size: 20px;
}